/*=============================================== PaginationButton ===============================================*/

.Button {
    $size: 32px;
    width: $size;
    height: $size;
    @include inline-flex(center, center);
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: $transition-short;
    @include font-size($font-size-body);

    &:not(:disabled):hover {
        background-color: $color-primary-70;
        color: $color-white;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.Active {
    background-color: $color-primary;
    color: $color-white;
}

.More {
    cursor: default;

    &:hover {
        color: $color-black !important;
        background-color: transparent !important;
    }
}
