.application-item {
    position: relative;
    border-radius: 8px;
    // padding: 0.5rem;
    background-color: #fff;
    min-height: 100px;
    transition: box-shadow .2s ease;

    // &:not(:last-of-type) {
    //     margin-bottom: 1rem;
    // }

    &:hover {
        // text-decoration: underline;
        box-shadow: 0 0.5rem 1rem #00000026;
    }

    .application-item-body {
        padding: 1rem 4rem 1rem 1rem;
    }

    .dropdown {
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 2;

        &.show {
            z-index: 3;
        }

        .dropdown-toggle {
            &.no-caret {
                &::after {
                    display: none;
                }
            }
        }
    }

    // .application-item-link {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     z-index: 1;
    //     content: "";
    // }
}