#root {
    display: grid;
    grid-template-areas: "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
    height: 100vh;

    >header {
        grid-area: header;
    }

    >main {
        grid-area: content;
    }

    >footer {
        grid-area: footer;
    }
}