/*=============================================== Colors ===============================================*/

$color-primary: var(--color-primary);
$color-primary-70: var(--color-primary-70);
$color-primary-5: var(--color-primary-5);
$color-secondary: var(--color-secondary);
$color-secondary-70: var(--color-secondary-70);
$color-secondary-5: var(--color-secondary-5);
$color-success: var(--color-success);
$color-success-70: var(--color-success-70);
$color-success-5: var(--color-success-5);
$color-danger: var(--color-danger);
$color-danger-70: var(--color-danger-70);
$color-danger-5: var(--color-danger-5);
$color-warning: var(--color-warning);
$color-warning-70: var(--color-warning-70);
$color-warning-5: var(--color-warning-5);
$color-dark-gray: var(--color-dark-gray);
$color-gray: var(--color-gray);
$color-light-gray: var(--color-light-gray);
$color-black: var(--color-black);
$color-white: var(--color-white);
$color-overlay: var(--color-overlay);
