/*=============================================== Layouts variables ===============================================*/

$wrapper: var(--wrapper);
$wrapper-form: var(--wrapper-form);
$wrapper-tablet: var(--wrapper-tablet);
$wrapper-full: var(--wrapper-full);
$wrapper-full-tablet: var(--wrapper-full-tablet);
$wrapper-list: var(--wrapper-list);
$wrapper-list-mobile: var(--wrapper-list-mobile);

$header-height: var(--header-height);

$container-padding: var(--container-padding);
