/*=============================================== Spacers ===============================================*/

$spacer-xxl: var(--spacer-xxl);
$spacer-xl: var(--spacer-xl);
$spacer-l: var(--spacer-l);
$spacer-m: var(--spacer-m);
$spacer-s: var(--spacer-s);
$spacer-xs: var(--spacer-xs);
$spacer-xxs: var(--spacer-xxs);
